@import url(./fonts.scss);

:root {
  --background: rgb(15 23 42);
  --color: rgb(148 163 184);
  --hover-title-color: rgb(94 234 212);
  --skills-area-color: rgb(19 78 74);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter";
  font-weight: 400;
  background: var(--background);
  color: var(--color);
}

a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.box {
  padding: 96px 96px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  text-align: left;
}

.header {
  width: 50%;
  position: sticky;
  top: 96px;

  &_title {
    font-weight: 700;
    font-size: 48px;
    color: #e2e8f0;
    margin-bottom: 20px;
  }

  &_nav__list {
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding-top: 50px;
  }

  &_nav__link {
    display: flex;
    align-items: center;
    text-transform: uppercase;

    &:hover &_text {
      font-size: 24px;
      color: #e2e8f0;
      transition: all 0.15s;
    }
    &:hover &_indicator {
      background-color: #e2e8f0;
      transition: all 0.15s;
      width: 4rem;
    }

    &_indicator {
      // display: inline-block;
      width: 2rem;
      height: 1px;
      background-color: rgb(71 85 105);
      margin-right: 1rem;
    }
    /******active*******/
    // &_text{
    //   font-size: 24px;
    //   color: #e2e8f0;
    // }
    // &_indicator  {
    //   background-color: #e2e8f0;
    //   width: 4rem;
    // }
    /******active*******/
  }

  // &_nav__link .active {

  //   &_text {
  //     font-size: 24px;
  //     color: #e2e8f0;
  //   }
  //   &_indicator {
  //     background-color: #e2e8f0;
  //     width: 4rem;
  //   }
  // }
}
.main {
  display: block;
  width: 50%;
  &_item {
    max-width: 528px;
    background: lightblue;
    height: 90vh;
    word-wrap: break-word;
  }
}
.active {
  .header_nav__link {
    &_text {
      font-size: 24px;
      color: #e2e8f0;
    }
    &_indicator {
      background-color: #e2e8f0;
      width: 4rem;
    }
  }
}
